<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About - My Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>About Me</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('blog') }}"">Updates Page</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="content">
        <div class="container">
            <h2>My Bio</h2>
            <p>Mr Simon Palmer is a Trauma and Orthopaedic Consultant who works in in West Sussex and Brighton who trained in Oxford, London and Bath with Specialist Australian expertise in surgery of the lower limb including foot and ankle surgery and knee surgery. He also has an interest in musculoskeletal trauma and sports injuries.

                Mr Palmer qualified as a doctor in 1990 receiving his degree from Imperial College of Science, Technology and Medicine in London. His initial surgical training included St Mary’s Hospital and The Hammersmith Hospital London. After demonstrating anatomy in London he was made a fellow of The Royal College of Surgeons of England in 1994 before accepting a research fellowship in orthopaedics and trauma at Bath University. Here he attained an MSc in Sports Injuries. He then completed a six year specialist registrar training in orthopaedics and trauma in Oxford thence obtaining the intercollegiate speciality examination in Trauma and Orthopaedics. He was then privileged to be admitted to the Specialist Register for Trauma and Orthopaedics at the GMC(General Medical Council) on 27th May 2002.
                
                <Br><br>Mr Palmer took up his current post as a Sussex NHS Consultant Trauma and Orthopaedic Surgeon in Worthing,Shoreham, Chichester in 2002. He also consults at Goring Hall Private Hospital, the Nuffield Private Hospital in Brighton. Mr Palmer is a Senior Lecturer at Brighton and Sussex Medical school (University of Sussex), an Educational Supervisor to trainee junior surgeons, a surgical trainer and a personal tutor at Brighton and Sussex Medical School. He is the clinical lead for research in his department and the Foot and Ankle lead clinician for the Western Sussex NHS Trust.
                
                Mr. Palmer developed his speciality in surgery of the foot, ankle and knee as a fellow of the North Sydney Orthopaedic and Sports Medicine Clinic in Australia. At this time he also developed his interests in sports medicine and sporting injury and joint replacement . He has an MSc in Sports Medicine from the University of Bath and is on the Faculty of Sports Medicine of the Royal College of Surgeons. Mr Palmer has a keen research interest and has published and presented papers worldwide. Current interests include, minimally invasive foot and ankle surgery (including keyhole bunion surgery or minimally invasive bunion surgery), lower limb keyhole surgery, joint replacement (including ankle replacement), extra-corporeal shock wave treatment for tendinitis and sports injuries and minimally invasive joint replacement. He enjoys programming 
                and has developed many software applications for the improvement of health care.
                
                <Br><Br></Br>Mr Palmer is a keen triathlete and regular Ironman competitor recently completing an Ironman in a personal best of 11hrs 28 minutes. He also enjoys skiing, snowboarding, kite-surfing, watching rugby and a busy family life!
                
                Mr Palmer is a member of the following specialist societies: General Medical Council, The Royal College of Surgeons of England, British Association for Surgery of the Knee, British Orthopaedic Foot and Ankle Society, European Foot and Ankle Society and is a Fellow of the Faculty of Sports and Exercise Medicine (RCSI). He also periodically reviews research papers for National scientific journals</p>
        </div>
        <div class = "container">
            <h2>My Research</h2>
            <p>To see an up to date list of Mr Palmers publications in press please see link below:</p>
            <a href=https://www.researchgate.net/profile/Simon-Palmer-2>Research History</a>
            <p><br><br><br></p>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 PTUpdates. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>
