<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Updates</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/Brighton-Sussex-Medical-School-1.png') }}" " width="200" height="120">
        <br> Brighton and Sussex Medical School
        <div class="container">
            <h1>Personal Tutor Updates Page</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    <li><a href="https://www.gmc-uk.org/education/standards-guidance-and-curricula/guidance/student-professionalism-and-ftp/achieving-good-medical-practice">Good Medical Practice</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>

    <section class="blog-posts">
        <div class="container">
            <article class="post">
                <h2>Recent Update</h2>
                <p class="date">Published on: January 6 2025</p>
                <p>Dear Students

                    I hope you are all well.

                    We need to meet again Teams in the next few weeks so I will send you a Teams invite. PLEASE CONFIRM ASAP .......</p>
                <a href="{{ url_for('update1') }}">Read more</a>
            </article>
            
            <article class="post">
                <h2>Reminder for References</h2>
                <p class="date">Published on: November 24, 2024</p>
                <p>Dear students
                    It is common in medicine to request references for jobs and academic appointments etc.

                    It is common courtesy to contact the chosen referee to ask their permission and confirm their support.

                    Can I politely request that if you need me to provide a reference you conact me first. Please note I am only able to provide references 
                    for academic appoinments related to medicine not general employment roles.  

                    I have attached a link to the guidance from the GMC on writing references if you are interested in the recommendations around this. 

                    Thanks
                    S Palmer
                </p>
                <a href="https://www.gmc-uk.org/-/media/documents/Writing_references.pdf_58835330.pdf">Read more</a>
            </article>
            
        </div>
    </section>

    <footer>
        <div class="container">
    
    <p>&copy; 2024  PTUpdates. All Rights Reserved</p>
        </div>
    </footer>
</body>
</html
