<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Updates</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header><img src="{{ url_for('static', filename='images/Brighton-Sussex-Medical-School-1.png') }}" " width="200" height="120">
            <br> Brighton and Sussex Medical School
        <div class="container">
            <h1>Updates</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('blog') }}">Updates Page</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    <li><a href="https://www.gmc-uk.org/education/standards-guidance-and-curricula/guidance/student-professionalism-and-ftp/achieving-good-medical-practice">Good Medical Practice</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>

    <section class="blog-posts">
        <div class="container">
            <article class="post">
                <h2>First post of the new academic year</h2>
                <p class="date">Published on: September 15, 2024</p>
                <p>Dear 4th year students.<br>

                    When we meet soon we will need to discuss your career interests. We need to check you've completed your self-assessment Year 4 
                    form. I need to review your new PDP. I also need to review one or two of your "time for autism" reflections and
                    check linking to ePortfolio on the new PebblePad system. 
                    I look forward to seeing you soon.
                    <br>kind regards<br>

                    
                     
                    Simon Palmer
                </p><br><br>
                <p>
                Dear 3rd year students<br>
                 
                We need to meet up in the next few weeks in the usual way on Teams to have your second personal tutor meeting
                of the year. We need to discuss and ensure you completed your self-assessment year 3 form. We need to review 
                your PDP that you should have completed. I need to review your Time for Dementia Reflection ( 1 or 2) 
                and check your curriculum linking from PebblePad onto ePortfolio. We did discuss equality, diversity and 
                personal biases last year and this does not need to be repeated but please review the GMC publication
                on this using the link at the top of the updates page. I look forward to seeing you soon.


                 
                <br>
                Kind regards<br>
                 
                Simon Palmer
                
                
                
                
                </p>
                
            </article>

           
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024  2024 PTUpdates. All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>
