<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Updates</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header><img src="{{ url_for('static', filename='images/Brighton-Sussex-Medical-School-1.png') }}" " width="200" height="120">
            <br> Brighton and Sussex Medical School
        <div class="container">
            <h1>Updates</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('blog') }}">Updates Page</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="blog-posts">
        <div class="container">
            <article class="post">
                <h2>First post of the new academic year</h2>
                <p class="date">Published on: September 15, 2024</p>
                <p>Dear 4th years
 
                    Welcome back, I hope you all had a good summer break.<br>
                     
                    We need to meet in Teams in October so I will send you a Teams invite. PLEASE CONFIRM ASAP please.<br>
                     
                    At our first meeting we will to discuss your first time for autism reflection, to discuss your 5th year elective ideas, and discuss your next pdp.  
                    Unfortunately BSMS has decided to stop using eportfolio for financial  reasons and by the end of October this will not be accessible. This is highly inconvenient for us all and the eportfolio information does not automatically transfer to pebblepad which we will need to use going forward. It is very important you create a pdp of your last 3 years of eportfolio for your records, you can upload this to pebblepad. If you can send me a copy I will be grateful.
                    Please contact timothy.vincent@nhs.net if you need help with this.<br>
                     
                    I hope you enjoy the start of your new rotations<br>
                     
                    Simon Palmer
                </p><br><br>
                <p>
                Dear 3rd year students<br>

            
 
                Welcome back, I hope you  had a good summer break.<br>
                 
                We need to meet in Teams in October so I will send you a Teams invite. PLEASE CONFIRM ASAP please.
                 
                We will repeat last year’s meeting (sorry!)
                We will discuss
                Transition to self directed learning, avoiding log book mentality, Choosing intercalation and IRP, your time for Dementia: reflection and taking about writing a new a PDP, and Check linking to eportfolio (mandatory Year 3 onwards)
                <br>
                Unfortunately BSMS has decided to stop using eportfolio for financial  reasons and by the end of October this will not be accessible. This is highly inconvenient for us all and the eportfolio information does not automatically transfer to pebblepad which we will need to use going forward. It is very important you create a pdp of your last 3 years of eportfolio for your records, you can upload this to pebblepad. If you can send me a copy I will be grateful.
                Please contact timothy.vincent@nhs.net if you need help with this.<br>
                Kind regards<br>
                 
                Simon Palmer
                
                
                
                
                </p>
                
            </article>

           
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024  2024 PTUpdates. All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>
