<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Updates</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header><img src="{{ url_for('static', filename='images/Brighton-Sussex-Medical-School-1.png') }}" " width="200" height="120">
            <br> Brighton and Sussex Medical School
        <div class="container">
            <h1>Updates</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('blog') }}">Updates Page</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    <li><a href="https://www.gmc-uk.org/education/standards-guidance-and-curricula/guidance/student-professionalism-and-ftp/achieving-good-medical-practice">Good Medical Practice</a></li>
                    <li><a href=   "https://www.belbin.com/about/belbin-team-roles">Belbin Theory</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>

    <section class="blog-posts">
        <div class="container">
            <article class="post">
                <h2>First post of the new academic year</h2>
                <p class="date">Published on: September 15, 2024</p>
                <p>Dear 4th year students.<br>

                    When we meet in April for your end of year sign off.We will need to check you've completed your self-assessment Year 4 
                    form. We will need to review your new PDP : please make sure you have updated this with evidence that you have completed your 3 pdp goals.  We need to review your three  "time for autism reflections"
                    and please make sure your TAB is uploaded to PebblePad.  We will need to check linking to the BSMS ppd curriculum as previously discussed on many occasions.
                    The medical school have also asked me to talk about teamwork i.e working with colleagues, please review the link above on Belbin Theory and we can discuss.I will send you Teams appointments as before.
                    If you are working at Worthing or Chichester hospitals we may be able to meet face to face. Email me if you would like to set this up.
                    I look forward to seeing you soon.
                    <br>kind regards<br>

                    
                     
                    Simon Palmer
                </p><br><br>
                <p>
                Dear 3rd year students<br>
                 
                We need to meet up in the next few weeks in the usual way on Teams to have your third personal tutor meeting for sign off.
                Ensure you completed your self-assessment year 3 form. We need to review 
                your PDP : please make sure you have updated this with evidence that you have completed your 3 pdp goals
                I need to review your Time for Dementia Reflection (x3) forms.
                We will need to check linking to the BSMS ppd curriculum as previously discussed on many occasions.
                I will send you Teams appointments as before.
                If you are working at Worthing or Chichester hospitals we may be able to meet face to face. Email me if you would like to set this up.
                I look forward to seeing you soon.
                


                 
                <br>
                Kind regards<br>
                 
                Simon Palmer
                
                
                
                
                </p>
                
            </article>

           
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024  2024 PTUpdates. All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>
